.toast
    opacity: 0
    visibility: hidden
    z-index: 1003
    transition: all .3s
    position: fixed
    bottom: 0
    left: 50%
    transform: translate(-50%, 100%)
    @include flex(row)
    width: 100%
    @each $name, $color in $colors
        &.#{$name}
            background-color: $color
    @include media-in(desktop)
        bottom: auto
        top: 0
        transform: translate(-50%, -100%)
    p
        text-align: center
        width: 100%
        padding: 1rem
    &.show-toast 
        opacity: 1
        visibility: visible
        transition: all .3s
        transform: translate(-50%, 0%)
    &.failed
        p
            color: #ffffff
    