<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Temukan Restoran Favoritmu">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <title>Dokter Rasa</title>
</head>

<body>
    <a class="skip-main" href="#card-group"><span class="material-icons" aria-hidden="true">skip_next</span> Skip to main content</a>
    
    <navigation-drawer></navigation-drawer>

    <section>
        <main role="main"></main>
    </section>

    <to-top></to-top>

    <small class="guide center">Press <b>T</b> to go back to top!</small>
    <footer role="contentinfo">Copyright © 2020 - Dokter Rasa Apps <span class="material-icons" aria-hidden="true">favorite</span></footer>

    <div id="toast-container"></div>

</body>

</html>