<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Temukan Restoran Favoritmu">
    <title>Dokter Rasa</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="title">
                <a href="./index.html" tabindex="-1">
                    <h1>dokter rasa</h1>
                </a>
            </div>
            <a id="hamburger" href="#">☰</a>
            <div id="drawer" class="links">
                <a tabindex="-1" href="./index.html">Home</a>
                <a tabindex="-1" href="#">Favorite</a>
                <a tabindex="-1" href="https://github.com/Shaddamah" rel="noreferrer" target="_blank">About Us</a>
            </div>
        </nav>
    </header>

    <section>
        <main>
            <div class="hero">
                <img src="./images/heros/hero-image_2.jpg" alt="Hero image">
                <div class="overlay">
                    <div class="content">
                        <p>Mari temukan restaran yang dapat menyembuhkan rasa laparmu sekarang juga</p>
                    </div>
                </div>
                <div class="group">
                    <a href="#" class="btn primary">Carikan saya restoran</a>
                </div>
            </div>
            <article>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                <div class="card-group">
                    <div class="card">
                        <h3>Insinyur Martabak</h3>
                    </div>
                    <div class="card">
                        <h3>Insinyur Martabak</h3>
                    </div>
                    <div class="card">
                        <h3>Insinyur Martabak</h3>
                    </div>
                </div>
            </article>

        </main>
    </section>


</body>

</html>