// Fonts
@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap"
@import "https://fonts.googleapis.com/icon?family=Material+Icons"
    
// Core
@import core/variables
@import core/mixins
@import core/helper

// Components
@import components/modal
@import components/spinner
@import components/toast
@import components/navbar
@import components/card
@import components/button
@import components/backtotop

.hero
    @include full-size
    position: relative
    height: 480px

    img
        perspective: 4px

    .overlay
        padding: 0 2rem
        width: 100%
        height: 100%
        top: 0
        color: white
        position: absolute
        @include flex
        background-color: rgba(0,0,0,0.55)

        .content
            font-size: 1.25rem
            text-align: center
            margin: auto
            .title
                font-size: 2rem
                
        

    img
        @extend .hero
        object-fit: cover

.group
    margin-top: -1.5rem
    display: flex
    width: 100%
    justify-content: center
article
    padding: 0 1.5rem
    margin-top: 4rem
    @include media-in(desktop)
        margin: 0 auto
        margin-top: 4rem
        max-width: 1280px

.star
    @include flex(row)
    margin: 0.5rem 0 1.5rem 0 
    span
        color: #ffc400
        line-height: 0
        margin-right: 0.5rem
        font-size: 1.25rem
.teardrop
    @include teardrop

section
    flex: 1 0 auto
footer
    color: #ffffff
    text-align: center
    padding: 1.5rem
    background-color: map-get($colors, "primary")

.skip-main 
    background-color: map-get($colors, "dark")
    color: #ffffff
    position: fixed
    width: 100%
    padding: 0.75rem 1.5rem
    z-index:1001
    top: 0
    transform: translateY(-100%)
    transition: all .3s
    @include teardrop(true, 2rem)
    @include media-in("tablet")
        width: auto
    &:focus, &:active
        transition: all .3s
        transform: translateY(0%)

.guide
    color: map-get($colors, "primary")
    font-size: 0.9rem
    text-transform: capitalize
    margin: 0.5rem 0

.showcase
    padding: 2.5rem 0
    @include flex(column)
    text-align: center
    @include media-in(tablet)
        flex-direction: row
    .icon-group
        width: 100%
        padding: 2rem
        @include flex(column)
        i
            color: map-get($colors, "primary")
            font-size: 5rem
            margin-bottom: 0.5rem
